<div id="login-form-container" class="form-login-submit-in">
	<script type="text/javascript">
		const isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
		const isFirefox = typeof InstallTrigger !== 'undefined';

		const el = document.getElementById('login-form-container')
		
		function submitForm() {
			let form = document.getElementById('login-form');
			form.submit();
		}

		function triggerLoginSubmit() {
			el.classList.remove('form-login-submit-in');
			el.classList.add('form-login-submit-out');
			
			let browserAtual;
			if (isOpera == true) 	{ browserAtual = 'Opera'; }
			if (isFirefox == true)	{ browserAtual = 'Firefox'; }

			let browserInput = document.getElementById('input-browser');
			browserInput.value = browserAtual;

			setTimeout(submitForm, 1500);
		}
		
		function checarCaps(event) {
			let campoCaps = document.getElementById("campo-caps");

			if (campoCaps) {
				if (event.getModifierState("CapsLock"))
					campoCaps.style.visibility = "visible";  
				else
					campoCaps.style.visibility = "hidden";
			}
		}

		addEventListener("keyup", function(event) { 
			checarCaps(event);
		});

	</script>
	<div id="cobracoral-icon-container">
		<%= show_svg('cobracoral-logo.svg') %>
	</div>
	<div class="login-errors">
		<%= notice %>
	</div>
	<%= form_for :session, html: { id: 'login-form' } do |f| %>
		<%= f.hidden_field :login_browser, id: 'input-browser' %>

		<div class="form-group">
			<%= f.label :email, 'Email institucional: '%>
			<%= f.text_field :email,
				placeholder: 'Email institucional',
				class: 'input-text',
				autocomplete: 'on',
				required: 'true'
			%>
		</div>
		<div class="form-group">
			<%= f.label :senha, 'Senha: '%>
			<span id="campo-caps">Caps Lock ativada</span>
			<%= f.password_field :senha,
				placeholder: 'Senha',
				id: 'campo-senha',
				class: 'input-text',
				required: 'true'
			%>
		</div>
		<div class="form-group">
			<a id="problemas-link" href="/recuperacao">Problemas para entrar?</a>
		</div>
		<div class="button-group">
			<%= render CobraButtonComponent.new(
				text: 'Entrar',
				onclick: 'triggerLoginSubmit')
			%>
		</div>
		<div class="login-info">
            <%= ENV["COBRACORAL_VERSION"] %> | 
            <%= ENV["COBRACORAL_AUTHOR"] %> - 
			<%= ENV["COBRACORAL_YEAR"] %>, 
			Todos os direitos reservados
		</div>
	<% end %>
</div>