<div id="login-form-container" class="form-login-submit-in primeiro-acesso">
	<script type="text/javascript">
		const el = document.getElementById('login-form-container')
		
		function submitForm() {
			let form = document.getElementById('login-form');
			form.submit();
		}

		function triggerLoginSubmit() {
			el.classList.remove('form-login-submit-in');
			el.classList.add('form-login-submit-out');

			setTimeout(submitForm, 500);
		}
		
		function checarCaps(event) {
			let campoCaps = document.getElementById("campo-caps");

			if (campoCaps) {
				if (event.getModifierState("CapsLock"))
					campoCaps.style.visibility = "visible";  
				else
					campoCaps.style.visibility = "hidden";
			}
		}

		addEventListener("keyup", function(event) { 
			checarCaps(event);
		});

	</script>
	<div id="cobracoral-icon-container">
		<%= show_svg('cobracoral-logo.svg') %>
	</div>
	<h2>Primeiro acesso do <%= @cargo %></h2>
	<p>
		Preencha seus dados e crie uma nova senha.
	</p>
	<div class="login-errors">
		<%= notice %>
	</div>
	<%= form_for :usuario_autenticado, html: { id: 'login-form' } do |f| %>
		<div class="form-group">
			<%= f.label :email, 'Email institucional: '%>
			<%= f.text_field :email,
				placeholder: 'Email institucional',
				class: 'input-text',
				autocomplete: 'on',
				required: 'true',
				disabled: 'true'
			%>
		</div>
		<div class="form-group">
			<div class="form-column">
				<%= f.label :nome_completo, 'Nome completo: '%>
				<%= f.text_field :nome_completo,
					placeholder: 'Fulano da silva',
					class: 'input-text',
					autocomplete: 'on',
					required: 'true'
				%>
			</div>
			<div class="form-column">
				<%= f.label :pronomes_usuarios_id, "Pronomes" %>
				<div class="select-box">
					<%= f.select :pronomes_usuarios_id,
						options_for_select(@pronomes.map{ |p| [
							p.enumPronomes, p.id, {
							'pronomes-id' => p.id
							}
						]}, @usuario_autenticado.pronomes_usuarios_id)
					%>
				</div>
			</div>
        </div>
		<div class="form-group">
			<div class="form-column">
				<%= f.label :lattes_id, 'Currículo Lattes (opcional): '%>
				<%= f.text_field :lattes_id,
					placeholder: 'XXXXXXXXXXXXXXXX',
					class: 'input-text'
				%>
			</div>
			<div class="form-column">
				<%= f.label :orcid_id, 'Orcid ID (opcional): '%>
				<%= f.text_field :orcid_id,
					placeholder: 'XXXX-XXXX-XXXX-XXXX',
					class: 'input-text'
				%>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :password, 'Nova senha: '%>
			<span id="campo-caps">Caps Lock ativada</span>
			<%= f.password_field :senha,
				placeholder: 'Senha',
				id: 'campo-senha',
				class: 'input-text',
				required: 'true'
			%>
		</div>
		<div class="form-group">
			<%= f.label :password, 'Repita a senha: '%>
			<span id="campo-caps">Caps Lock ativada</span>
			<%= f.password_field :senha,
				placeholder: 'Senha',
				id: 'campo-senha',
				class: 'input-text',
				required: 'true'
			%>
		</div>
		<div class="button-group" onclick="triggerLoginSubmit()">
			<button type="button" class="act-button">
				Entrar
			</button>
		</div>
		<div class="login-info">
            <%= ENV["COBRACORAL_VERSION"] %> | 
            <%= ENV["COBRACORAL_AUTHOR"] %> - 
			<%= ENV["COBRACORAL_YEAR"] %>, 
			Todos os direitos reservados
		</div>
	<% end %>
</div>