<a href='/disciplinas/<%= disciplina.id %>'>
	<div class="disciplina-thumbnail">
		<div class="disciplina-thumbnail-img">
			<% if disciplina.banner.attached? %>
				<%= image_tag(disciplina.banner) %>
			<% end %>
		</div>
		<div class="disciplina-thumbnail-info">
			<h3>
				<%= disciplina.nome_disciplina %>
			</h3>
			<p>
				<a href='/usuarios/<%= professor_disciplina(disciplina).id %>'>
					<strong>
						<%= professor_disciplina(disciplina).nome_completo %>
					</strong>
				</a>
				<br>
				<a href="/turmas/<%= turma_disciplina(disciplina).id %>">
					<%= turma_disciplina(disciplina).nome_turma
				 %>
				</a> |
				<%= disciplina.semestre %> |
				<%= disciplina.sala_aula %>
			</p>
		</div>
	</div>
</a>