<%= form_with(model: disciplina) do |form| %>
  <% if disciplina.errors.any? %>
    <div style="color: red">
      <ul>
        <% disciplina.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome_disciplina, "Nome da disciplina" %>
    <%= form.text_field :nome_disciplina %>
  </div>
  <div>
    <%= form.label :curso_id, "Curso" %>
    <%= form.select :curso_id,
      options_for_select(@cursos.map{ |c| [
        c.nome_curso, c.id, {
          'curso-id' => c.id
        }
      ]}, @disciplina.curso_id)  
    %>
  </div>
  <div>
    <%= form.label :semestre %>
    <%= form.text_field :semestre %>
  </div>
  
  <%= form.submit %>

  <div class="button-group">
    <a href="/disciplinas/<%= @disciplina.id %>">
      <button class="act-button">
        Cancelar
      </button>
    </a>
  </div>
<% end %>
