<%= form_with(model: disciplina) do |form| %>
  <% if disciplina.errors.any? %>
    <div style="color: red">
      <ul>
        <% disciplina.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :curso, "Curso" %>
    <%= form.select(:curso, @cursos) %>
  </div>
  <div>
    <%= form.label :nome_disciplina, "Nome da disciplina" %>
    <%= form.text_field :nome_disciplina %>
  </div>
  <div>
    <%= form.label :semestre %>
    <%= form.text_field :semestre %>
  </div>

  <div class="button-group">
    <a href="/disciplinas/<%= @disciplina.id %>">
      <button class="act-button">
        Cancelar
      </button>
    </a>
    <%= form.submit "Salvar", class: "act-button" %>
  </div>
<% end %>
