<nav>
  <%= button_to "Destroy this disciplina", @disciplina, method: :delete %>
  <%= form_with(model: @disciplina) do |form| %>
    <% if @disciplina.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@disciplina.errors.count, "error") %> prohibited this disciplina from being saved:</h2>

        <ul>
          <% @disciplina.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="disciplina_info_container">
      <div class="disciplina_info">
        <h1>
          <%= form.text_field :nome_disciplina, class: "titulo-pagina page-edit-input" %>
        </h1>
        <div>
          Nome prof
          <%= form.label :nome_disciplina %>
          <%= form.text_field :nome_disciplina, class: "page-edit-input" %>
        </div>
        <div>
          Local sala
          <%= form.label :nome_disciplina %>
          <%= form.text_field :nome_disciplina, class: "page-edit-input" %>
        </div>
        <div>
          <%= form.label :semestre %>
          <%= form.text_field :semestre, class: "page-edit-input" %>
        </div>
      </div>
      <div class="disciplina_medidores">
        <button>Lançar presenças</button>
        <button>Lançar notas</button>
      </div>
    </div>
    <div class="disciplina_conteudos_container">
    </div>

    <div class="disciplina_conteudos_container">
      <ol>
        <%= render @unidades_disciplina, estaEditando: true %>
      </ol>
    </div>

    <div class="button-group">
      <a href="/disciplinas/<%= @disciplina.id %>">
        <button class="act-button">
          Cancelar
        </button>
      </a>
      <%= form.submit "Salvar", class: "act-button" %>
    </div>
  <% end %>
</nav>