<nav>
  <div class="deslizar-transition">
    <p style="color: green"><%= notice %></p>
    
    <a href="/cursos/<%= @curso.id %>">
      <i class="fa-solid fa-arrow-left fa-sm"></i>
      Voltar para <strong><%= @curso.nome_curso %></strong>
    </a>

    <div class="disciplina_info_container">
      <div class="disciplina_info">
        <h1 class="titulo-disciplina">
          <%= @disciplina.nome_disciplina %>
          <% if policy(@disciplina).edit? %>
            <a href="/disciplinas/<%= @disciplina.id %>/editar">
                <i class="fa-solid fa-pen fa-sm icon-button"></i>
            </a>
          <% end %>
        </h1>
				<a href='/usuarios/<%= professor_disciplina(@disciplina).id %>'>
					<strong>
						<%= professor_disciplina(@disciplina).nome_completo %>
					</strong>
				</a>
        <br>
        <a href="/turmas/<%= turma_disciplina(@disciplina).id %>">
          <%= turma_disciplina(@disciplina).nome_turma %>
        </a>
        <br>
        <%= @disciplina.sala_aula %>
        <br>
        Semestre: <%= @disciplina.semestre %>
      </div>
      <div class="disciplina_medidores">
        <div class="medidor-container">
          <div class="medidor-grafico">
            <div class="medidor-grafico-max"></div>
            <div class="medidor-grafico-atual"></div>
            <span class="medidor-grafico-valor">100%</span>
          </div>
          <h5>
            Presenças
            <a href="">
              <i class="fa-solid fa-pie-chart fa-lg icon-button"></i>
            </a>
          </h5>
        </div>
        <div class="medidor-container">
          <div class="medidor-grafico">
            <div class="medidor-grafico-max"></div>
            <div class="medidor-grafico-atual"></div>
            <span class="medidor-grafico-valor">10%</span>
          </div>
          <h5>
            Notas
            <a href="">
              <i class="fa-solid fa-pie-chart fa-lg icon-button"></i>
            </a>
          </h5>
        </div>
      </div>
    </div>
    <div class="disciplina_conteudos_container">
      <% if policy(@disciplina).new_conteudo? %>
        <a href="/conteudos/new">
            Adicionar conteúdo
        </a>
      <% end %>
      <ol>
        <%= render @unidades_disciplina %>
      </ol>
    </div>
  </div>
</nav>