<div class="disciplinas-banner">
  <div class="banner-crop">
    <% if @disciplina.banner.attached? %>
      <%= image_tag(@disciplina.banner) %>
    <% end %>
  </div>
</div>
<nav>
  <div class="deslizar-transition">
    <a href="/turmas/<%= @turma.id %>">
      <i class="fa-solid fa-arrow-left fa-sm"></i>
      Voltar para <strong><%= @turma.nome_turma %></strong>
    </a>

    <div class="disciplina_info_container">
      <div class="disciplina_info">
        <h1 class="titulo-disciplina">
          <%= @disciplina.nome_disciplina %>
          <% if policy(@disciplina).edit? %>
            <a href="/disciplinas/<%= @disciplina.id %>/editar">
                <i class="fa-solid fa-pen fa-sm icon-button"></i>
            </a>
          <% end %>
        </h1>
        <span>
          <i class="fa-solid fa-arrow-right fa-sm"></i>
          <strong>Plano de ensino</strong>
          <%= render "dados_disciplina", disciplina: @disciplina %>
        </span>
				<%= render professor_disciplina(@disciplina) %>
        <a href="/turmas/<%= turma_disciplina(@disciplina).id %>">
          <%= turma_disciplina(@disciplina).nome_turma %>
        </a>
        <br>
        <%= @disciplina.sala_aula %>
        <br>
        Semestre: <%= @disciplina.semestre %>
      </div>
      <div class="disciplina_medidores">
        <%= render MedidorGraficoComponent.new(
          medidor_titulo: 'Presenças',
          valor_entrada: 100,
          valor_tipo: 'porcento')
        %>
        <%= render MedidorGraficoComponent.new(
          medidor_titulo: 'Notas',
          valor_entrada: 6.5,
          valor_tipo: 'nota')
        %>
      </div>
    </div>
    <div class="disciplina_conteudos_container">
      <% if policy(@disciplina).new_conteudo? %>
        <a href="/conteudos/new">
            Adicionar conteúdo
        </a>
      <% end %>
      <ol>
        <%= render @unidades_disciplina %>
      </ol>
    </div>
  </div>
</nav>