<nav>
  <div class="deslizar-transition">
    <p style="color: green"><%= notice %></p>
    
    <a href="/cursos/<%= @curso.id %>">
      Voltar para <strong><%= @curso.nome_curso %></strong>
    </a>

    <div class="disciplina_info_container">
      <div class="disciplina_info">
        <h1 class="titulo-disciplina">
          <%= @disciplina.nome_disciplina %>
          <% if policy(@disciplina).edit? %>
            <%= link_to "Editar", edit_disciplina_path(@disciplina) %>
          <% end %>
        </h1>
				<a href='/usuarios/<%= professor_disciplina(@disciplina).id %>'>
					<strong>
						<%= professor_disciplina(@disciplina).nome_completo %>
					</strong>
				</a>
        <br>
        <%= turma_disciplina(@disciplina) %>
        <br>
        <%= @disciplina.sala_aula %>
        <br>
        Semestre: <%= @disciplina.semestre %>
      </div>
      <div class="disciplina_medidores">
        <div class="medidor-container">
          <div class="medidor-grafico">
            <div class="medidor-grafico-max"></div>
            <div class="medidor-grafico-atual"></div>
            <span class="medidor-grafico-valor">100%</span>
          </div>
          <h5>Presenças</h5>
        </div>
        <div class="medidor-container">
          <div class="medidor-grafico">
            <div class="medidor-grafico-max"></div>
            <div class="medidor-grafico-atual"></div>
            <span class="medidor-grafico-valor">10%</span>
          </div>
          <h5>Notas</h5>
        </div>
      </div>
    </div>
    <div class="disciplina_conteudos_container">
      <ol>
        <%= render @unidades_disciplina %>
      </ol>
    </div>
  </div>
</nav>