<%= form_with(model: turma) do |form| %>
  <% if turma.errors.any? %>
    <div style="color: red">
      <ul>
        <% turma.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nome_turma, "Nome da turma" %>
    <%= form.text_field :nome_turma %>
  </div>
  <div class="form-group">
    <%= form.label :curso_id, "Curso" %>
    <div class="select-box">
      <%= form.select :curso_id,
        options_for_select(@cursos.map{ |c| [
          c.nome_curso, c.id, {
            'curso-id' => c.id
          }
        ]}, @turma.curso_id)  
      %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :turno_turma, "Turno" %>
    <div class="select-box">
      <%= form.select :turno_turma,
        options_for_select(select_turno(), @turma.turno_turma)
      %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :modalidade_turma, "Modalidade" %>
    <div class="select-box">
      <%= form.select :modalidade_turma,
        options_for_select(select_modalidade(), @turma.modalidade_turma)
      %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :senha_acesso, "Senha de acesso" %>
    <%= form.password_field :senha_acesso %>
  </div>
  <%= render CancelarSalvarButtonsComponent.new(
    cancel_to_link: '/turmas/' + @turma.id.to_s)
  %>
<% end %>
