<%= form_with(model: turma) do |form| %>
  <% if turma.errors.any? %>
    <div style="color: red">
      <ul>
        <% turma.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome_turma, "Nome da turma" %>
    <%= form.text_field :nome_turma %>
  </div>
  <div>
    <%= form.label :curso, "Curso" %>
    <%= form.select(:curso, @cursos) %>
  </div>
  <div>
    <%= form.label :turno_turma_id, "Turno" %>
    <%= form.select :turno_turma_id,
      options_for_select(@turno_turmas.map{ |t| [
        t.enumTurno, t.id, {
          'turno-id' => t.id
        }
      ]}, @turma.turno_turma_id)  
    %>
  </div>
  <div>
    <%= form.label :modalidade_turma_id, "Modalidade" %>
    <%= form.select :modalidade_turma_id,
      options_for_select(@modalidade_turmas.map{ |t| [
        t.enumModalidade, t.id, {
          'modalidade-id' => t.id
        }
      ]}, @turma.modalidade_turma_id)
    %>
  </div>
  <div>
    <%= form.label :senha_acesso, "Senha de acesso" %>
    <%= form.text_field :senha_acesso %>
  </div>
  
  <%= form.submit %>
<% end %>
