<%= form_with(model: turma) do |form| %>
  <% if turma.errors.any? %>
    <div style="color: red">
      <ul>
        <% turma.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome_turma, "Nome da turma" %>
    <%= form.text_field :nome_turma %>
  </div>
  <div>
    <%= form.label :curso_id, "Curso" %>
    <%= form.select :curso_id,
      options_for_select(@cursos.map{ |c| [
        c.nome_curso, c.id, {
          'curso-id' => c.id
        }
      ]}, @turma.curso_id)  
    %>
  </div>
  <div>
    <%= form.label :turno_turma, "Turno" %>
    <%= form.select :turno_turma,
      options_for_select(Turma.turno_turmas.map{ |t| [
        t[1], t[0], {
          'turno-id' => t[0]
        }
      ]}, @turma.turno_turma)  
    %>
  </div>
  <div>
    <%= form.label :modalidade_turma, "Modalidade" %>
    <%= form.select :modalidade_turma,
      options_for_select(Turma.modalidade_turmas.map{ |m| [
        m[1], m[0], {
          'modalidade-id' => m[0]
        }
      ]}, @turma.modalidade_turma)
    %>
  </div>
  <div>
    <%= form.label :senha_acesso, "Senha de acesso" %>
    <%= form.password_field :senha_acesso %>
  </div>
  
  <div class="button-group">
    <a href="/turmas">
      <button class="act-button">
        Cancelar
      </button>
    </a>
    <button type="submit" class="act-button">
      Salvar
    </button>
  </div>
<% end %>
