<nav>
    <div>
        <%= form_with(model: @turma) do |form| %>
            <% if policy(@turma).destroy? %>
                <a
                    href="/turmas/<%= @turma.id %>/deletar"
                    class="delete-button"
                    data-turbo-frame="cobra-modal"
                    data-remote="true">
                    <i class="fa-solid fa-trash fa-lg icon-button"></i>
                </a>
            <% end %>
            <h1>
                <%= form.text_field :nome_turma, class: "titulo-pagina page-edit-input" %>
            </h1>
            <h2>
                <a href='/cursos/<%= @curso_turma.id %>'>
                    <%= @curso_turma.nome_curso %>
                </a>
            </h2>
            <div>
                <div class="form-group">
                    <%= form.label :turno_turma, "Turno" %>
                    <div class="select-box">
                        <%= form.select :turno_turma,
                            options_for_select(select_turno(), @turma.turno_turma)
                        %>
                    </div>
                </div>
                <div class="form-group">
                    <%= form.label :modalidade_turma, "Modalidade" %>
                    <div class="select-box">
                        <%= form.select :modalidade_turma,
                            options_for_select(select_modalidade(), @turma.modalidade_turma)
                        %>
                    </div>
                </div>
            </div>
            <%= render CancelarSalvarButtonsComponent.new(
                cancel_to_link: '/turmas/' + @turma.id.to_s)
            %>

            <div>
                <h2>Estudantes da turma</h2>
                <div>
                    <%= render @estudantes_turma %>
                </div>
            </div>

            <div>
                <h2>Minhas disciplinas</h2>
                <% if policy(@turma).new_disciplina? %>
                    <%= link_to "Adicionar disciplina", new_disciplina_path, remote: true %>
                <% end %>
                <h3>Semestre</h3>
                <div class="disciplinas-container">
                    <%= render @disciplinas_turma %>
                </div>
            </div>
        <% end %>
    </div>
</nav>