<nav>
    <p style="color: green"><%= notice %></p>
    <a href="/turmas/<%= @turma.id %>">
      <i class="fa-solid fa-arrow-left fa-sm"></i>
      Voltar para <strong><%= @turma.nome_turma %></strong>
    </a>
    <div class="colunas-container">
        <div class="coluna">
            <h2>Matricular estudantes</h2>
            <div>
                <% for estudante in @estudantes_nao_matriculados %>
                    <div class="usuario-button">
                        <a href="/usuarios/<%= estudante.id %>/<%= @turma.id %>/matricular"  data-turbo-prefetch="false">
                            <div class="usuario-button-icon">
                                <i class="fa-solid fa-user fa-lg"></i>
                            </div>
                            <div class="usuario-button-name">
                                <%= estudante.nome_completo %>
                            </div>
                        </a>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="coluna">
            <h2>Remover matriculados</h2>
            <div>
                <% for estudante in @estudantes_matriculados %>
                    <div class="usuario-button">
                        <a href="/usuarios/<%= estudante.id %>/<%= @turma.id %>/desmatricular" data-turbo-prefetch="false">
                            <div class="usuario-button-icon">
                                <i class="fa-solid fa-user fa-lg"></i>
                            </div>
                            <div class="usuario-button-name">
                                <%= estudante.nome_completo %>
                            </div>
                        </a>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</nav>