<nav>
    <div class="deslizar-transition">
        <h1>
            <%= @turma.nome_turma %>
            <% if policy(@turma).edit? %>
                <a href="/turmas/<%= @turma.id %>/editar" tooltip-text="Editar turma">
                    <i class="fa-solid fa-pen fa-sm icon-button"></i>
                </a>
            <% end %>
        </h1>
        <h3>
            <a href='/cursos/<%= @curso_turma.id %>' class="goback-button">
                <%= @curso_turma.nome_curso %>
            </a>
        </h3>
        <div>
            <div>
                Turno: <%= enum_turno(@turma.turno_turma) %>
            </div>
            <div>
                Modalidade: <%= enum_modalidade(@turma.modalidade_turma) %>
            </div>
            </div>
        <div>
            <h2>Estudantes da turma</h2>
            <div>
                <%= render @estudantes_turma %>
            </div>
            <% if policy(@turma).matricular? %>
                <%= render CobraButtonComponent.new(
                    text: 'Matricular estudantes',
                    href: '/turmas/' + @turma.id.to_s + '/matricular')
                %>
            <% end %>
        </div>
        <div>
            <% if @disciplinas_turma.length > 0 %>
                <% if policy(@disciplinas_turma).index? %>
                    <%= link_to "Todas as disciplinas", disciplinas_path(@disciplinas_turma) %>
                <% end %>
                <h3>Semestre</h3>
                <div class="disciplinas-container">
                    <%= render @disciplinas_turma %>
                </div>
            <% else %>
                <p>Não há nenhuma disciplina cadastrada neste curso.</p>
                <% if policy(@disciplinas_turma).new? %>
                    <%= link_to "Adicionar disciplina", new_disciplina_path, remote: true %>
                <% end %>
            <% end %>
        </div>
    </div>
</nav>