<nav>
    <p style="color: green"><%= notice %></p>
    <div class="deslizar-transition">
        <h1>
            <%= @turma.nome_turma %>
            <% if policy(@turma).edit? %>
                <a href="/turmas/<%= @turma.id %>/editar">
                    <i class="fa-solid fa-pen fa-sm icon-button"></i>
                </a>
            <% end %>
        </h1>
        <h3>
            <a href='/cursos/<%= @curso_turma.id %>'>
                <%= @curso_turma.nome_curso %>
            </a>
        </h3>
        <div>
            <div>
                Turno: <%= enum_turno(@turma.turno_turma) %>
            </div>
            <div>
                Modalidade: <%= enum_modalidade(@turma.modalidade_turma) %>
            </div>
            </div>
        <div>
            <h2>Estudantes da turma</h2>
            <div>
                <%= render @estudantes_turma %>
            </div>
            <% if policy(@turma).matricular? %>
                <%= render CobraButtonComponent.new(
                    text: 'Matricular estudantes',
                    href: '/turmas/' + @turma.id.to_s + 'matricular')
                %>
            <% end %>
        </div>
        <div>
            <h2>Minhas disciplinas</h2>
            <h3>Semestre</h3>
            <div class="disciplinas-container">
                <%= render @disciplinas_turma %>
            </div>
        </div>
    </div>
</nav>