<nav>
    <p style="color: green"><%= notice %></p>
    <div class="deslizar-transition">
        <h1>
            <%= @turma.nome_turma %>
            <% if policy(@turma).edit? %>
                <%= link_to "Editar", edit_turma_path(@turma) %>
            <% end %>
        </h1>
        <h2>
            <a href='/cursos/<%= @curso_turma.id %>'>
                <%= @curso_turma.nome_curso %>
            </a>
        </h2>
        <div>
            <div>
                Turno: <%= @turno_turma.enumTurno %>
            </div>
            <div>
                Modalidade: <%= @modalidade_turma.enumModalidade %>
            </div>
            </div>
        <div>
            <h2>Estudantes da turma</h2>
            <a href="/turmas/<%= @turma.id %>/matricular">
                <% if policy(@turma).matricular? %>
                    <button class="act-button">
                        Matricular estudantes
                    </button>
                <% end %>
            </a>
            <div>
                <%= render @estudantes_turma %>
            </div>
        </div>
        <div>
            <h2>Minhas disciplinas</h2>
            <h3>Semestre</h3>
            <div class="disciplinas-container">
                <%= render @disciplinas_turma %>
            </div>
        </div>
    </div>
</nav>