<div id="barra-lateral-preferencias" style="visibility: hidden; opacity: 0%;">
  <div style="display: flex; align-items: center; justify-content: space-between">
    <h2>Preferências</h2>
    <section onclick="abrirBarraPreferencias()" style="cursor: pointer;">X</section>
  </div>

  <% if @usuario_autenticado %>
    <p style="font-size: 0.9rem; margin-bottom: 10px;">
      Usuário: <%= @usuario_autenticado.nome_completo %> (<%= @usuario_autenticado.email %>)
    </p>
    <p><strong>Valor do Tema:</strong> <%= @preferencias_usuario&.idioma %></p>
  <% end %>

  <div>
    <%= form_with(model: @preferencias_usuario) do |f| %>
      <% configuracoes = {
        "Aparência" => [
          { campo: :tema, label: "Tema:", opcoes: [['Padrão', 'padrao'], ['Claro', 'claro'], ['Escuro', 'escuro']] }
        ],
        "Avaliações" => [
          { campo: :avaliacao_exibir_tempo, label: "Exibir tempo restante:", opcoes: [['Sim', true], ['Não', false]] },
          { campo: :avaliacao_exibir_progresso, label: "Exibir barra de progresso:", opcoes: [['Sim', true], ['Não', false]] }
        ],
        "Pomodoro" => [
          { campo: :pomodoro_ativar, label: "Ativar pomodoro:", opcoes: [['Sim', true], ['Não', false]] },
          { campo: :pomodoro_pomodoris_tempo, label: "Tempo do pomodoris:", opcoes: ['25m'] },
          { campo: :pomodoro_descanso, label: "Tempo de descanso:", opcoes: ['5m'] },
          { campo: :pomodoro_pomodoris_quant, label: "Quantidade de pomodoris:", opcoes: ['4'] },
          { campo: :pomodoro_hibernar, label: "Descansar ao terminar:", opcoes: [['Sim', true], ['Não', false]] },
          { campo: :pomodoro_logoff, label: "Desconectar ao terminar:", opcoes: [['Sim', true], ['Não', false]] }
        ],
        "Notificações" => [
          { campo: :notificacao_novo_acesso, label: "Novo acesso:", opcoes: [['Sim', true], ['Não', false]] },
          { campo: :notificacao_comunicados_coordenacao, label: "Comunicados da coordenação:", opcoes: [['Sim', true], ['Não', false]] },
          { campo: :notificacao_comunicados_turma, label: "Comunicados da turma:", opcoes: [['Sim', true], ['Não', false]] },
          { campo: :notificacao_agendamentos, label: "Reuniões assíncronas:", opcoes: [['Sim', true], ['Não', false]] },
          { campo: :notificacao_avaliacao_liberada, label: "Avaliação liberada:", opcoes: [['Sim', true], ['Não', false]] },
          { campo: :notificacao_conteudo_liberado, label: "Conteúdo liberado:", opcoes: [['Sim', true], ['Não', false]] },
          { campo: :notificacao_nota_lancada, label: "Nota lançada:", opcoes: [['Sim', true], ['Não', false]] },
          { campo: :notificacao_nova_mensagem, label: "Novas mensagens:", opcoes: [['Sim', true], ['Não', false]] },
          { campo: :notificacao_situacao_solicitacao, label: "Solicitações:", opcoes: [['Sim', true], ['Não', false]] },
        ]
      } %>

      <% configuracoes.each do |titulo, campos| %>
        <div style="margin-bottom: 50px;">
            <h3><%= titulo %></h3>
            <% campos.each do |campo| %>
              <div class="form-group" style="display: flex; align-items:center; justify-content: space-between;">
                <%= f.label campo[:campo], campo[:label] %>
                <div class="select-box-preferencias">
                  <%= f.select campo[:campo],
                      options_for_select(campo[:opcoes], @preferencias_usuario&.send(campo[:campo]))
                  %>
                </div>
              </div>
            <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
