<header id="cobracoral-header">
    <button class="icon-button" onclick="abrirBarraLateral()">
    <i class="fa-solid fa-bars fa-2xl"></i>
    </button>
    <div class="header-logo">
    <div class="header-logo-svg">
        <%= helpers.show_svg('cobracoral-logo.svg') %>
    </div>
    <div class="header-logo-info">
        <a href="/">
            <% if helpers.isUsuarioDiscente(@usuario_autenticado) %>
                <h1>SIGAA</h1>
            <% else %>
                <h1>
                    <% if helpers.current_curso(@usuario_autenticado) %>
                        <%= helpers.current_curso(@usuario_autenticado).nome_curso %>
                    <% else %>
                        Cobracoral
                    <% end %>
                </h1>
            <% end %>
        </a>
        <span>
            <%= ENV["COBRACORAL_VERSION"] %>
            <%= @cobracoral_env %>
        </span>
    </div>
    </div>
    <ul>
        <li>
            <a href="/painel" tooltip-text="Painel">
                <button class="icon-button">
                    <i class="fa-solid fa-square-poll-horizontal fa-2xl"></i>
                </button>
            </a>
        </li>
        <li>
            <a href="/comunicados" tooltip-text="Comunicados">
                <button class="icon-button">
                    <i class="fa-solid fa-bell fa-2xl"></i>
                </button>
            </a>
        </li>
        <li>
            <a href="/cursos" tooltip-text="Cursos">
                <button class="icon-button">
                    <i class="fa-solid fa-book-open fa-2xl"></i>
                </button>
            </a>
        </li>
        <!--li>
            <a href="/ide" tooltip-text="Ambiente integrado de desenvolvimento">
            <button class="icon-button">
                <i class="fa-solid fa-code fa-2xl"></i>
            </button>
            </a>
        </li-->
        <li>
            <a href="/tarefas" tooltip-text="Tarefas">
                <button class="icon-button">
                    <i class="fa-solid fa-list-check fa-2xl"></i>
                </button>
            </a>
        </li>
        <li>
            <a href="/mensagens" tooltip-text="Mensagens">
                <button class="icon-button">
                    <i class="fa-solid fa-comment fa-2xl"></i>
                </button>
            </a>
        </li>
        <li>
            <button class="icon-button abrir-menu">
                <i class="fa-solid fa-user fa-2xl"></i>
                <%= render MenuPerfilComponent.new(usuario_autenticado: @usuario_autenticado) %>
            </button>
        </li>
    </ul>
</header>
