<% if @estaEditando %>
  <a href="/conteudos/<%= conteudo.id %>/edit">
    <div id="<%= dom_id conteudo %>" class="conteudo-button">
      <div class="conteudo-button-info">
        <h5><%= conteudo.nome_conteudo %></h5>
      </div>
      <div class="conteudo-button-conclusao">
        Editar
      </div>
    </div>
  </a>
<% else %>
  <% if @estaNoKanban %>
    <a href="/conteudos/<%= conteudo.id %>">
      <div id="<%= dom_id conteudo %>" class="conteudo-button">
        <div class="conteudo-button-info">
          <h5>
            <%= conteudo.nome_conteudo %>
          </h5>
          <span class="conteudo-data">
            <%= get_vencimento_restante(conteudo) %>
          </span>
          <%= render @usuario %>
        </div>
      </div>
    </a>
  <% else %>
    <a
      href="/conteudos/<%= conteudo.id %>"
      class="<%=
        is_conteudo_indisponivel(conteudo) ? 'conteudo-disabled' : ''
      %>">
      <div id="<%= dom_id conteudo %>" class="conteudo-button">
        <div class="conteudo-button-info">
          <h5>
            <%= conteudo.nome_conteudo %>
          </h5>
          <span>
            <%= get_vencimento_restante(conteudo) %>
          </span>
        </div>
        <div class="conteudo-button-conclusao">
          <div class="conteudo-button-conclusao-max"></div>
          <% if conclusao_conteudo(conteudo) %>
            <div class="conteudo-button-conclusao-atual"></div>
          <% end %>
        </div>
      </div>
    </a>
  <% end %>
<% end %>