<%= form_with(model: conteudo) do |form| %>
  <% if conteudo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(conteudo.errors.count, "error") %> prohibited this conteudo from being saved:</h2>

      <ul>
        <% conteudo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1>
    <%= form.text_field :nome_conteudo, class: "titulo-pagina page-edit-input" %>
  </h1>

  <div>
    <%= form.text_area '' %>
  </div>

  <div class="button-group">
    <a href="/conteudos/<%= @conteudo.id %>">
      <button class="act-button">
        Cancelar
      </button>
    </a>
    <%= form.submit "Salvar", class: "act-button" %>
  </div>
<% end %>
