<nav>
  <div class="deslizar-transition">
    <a href="/disciplinas/<%= @disciplina_conteudo.id %>">
      <i class="fa-solid fa-arrow-left fa-sm"></i>
      Voltar para <strong><%= @disciplina_conteudo.nome_disciplina %></strong>
    </a>
    <h1>
      <%= @conteudo.nome_conteudo %>
      <% if policy(@conteudo).edit? %>
        <a href="/conteudos/<%= @conteudo.id %>/editar">
            <i class="fa-solid fa-pen fa-sm icon-button"></i>
        </a>
      <% end %>
    </h1>
    <span class="conteudo-data">
      <%= formatar_data_liberacao(@conteudo.data_liberacao) %>
    </span>
    <span class="conteudo-data">
      <%= formatar_data_vencimento(@conteudo.data_vencimento) %>
    </span>

    <div class="conteudo-elementos">
      <%= @conteudo.corpo %>
    </div>
    
    <%= render ConteudoNavButtonComponent.new(
      conteudoAtual: @conteudo,
      proximoConteudo: @proximoConteudo)
    %>
  </div>
</nav>
