<%= form_with(model: curso) do |form| %>
  <h1>
    <%= form.text_field :nome_curso, class: "titulo-pagina page-edit-input" %>
  </h1>
  <p>
    <a href="<%= usuario_path(@coordenacao) %>">
      <strong>Coordenação:</strong> <%= @coordenacao.nome_completo %>
    </a>
  </p>
  <h3>Descrição do curso</h3>
  <%= form.text_area :descricao, cols: 130, rows: 5 %>

  <div class="button-group">
    <% if params[:action] == 'new' %>
      <%= render CobraButtonComponent.new(
          text: 'Cancelar',
          href: '/cursos')
      %>
    <% end %>
    <% if params[:action] == 'edit' %>
      <%= render CobraButtonComponent.new(
          text: 'Cancelar',
          href: '/cursos/' + @curso.id.to_s)
      %>
    <% end %>
    <%= render CobraButtonComponent.new(
        text: 'Salvar',
        submit: true)
    %>
  </div>
<% end %>
