<%= form_with(model: curso) do |form| %>
  <h1>
    <%= form.text_field :nome_curso, class: "titulo-pagina page-edit-input" %>
  </h1>
  <p>
    <a href="<%= usuario_path(@coordenacao) %>">
      <strong>Coordenação:</strong> <%= @coordenacao.nome_completo %>
    </a>
  </p>
  <h3>Descrição do curso</h3>
  <%= form.text_area :descricao, cols: 130, rows: 5 %>

  <div class="button-group">
    <% if params[:action] == 'new' %>
      <a href="/cursos">
        <button class="act-button">
          Cancelar
        </button>
      </a>
    <% end %>
    <% if params[:action] == 'edit' %>
      <a href="/cursos/<%= @curso.id %>">
        <button class="act-button">
          Cancelar
        </button>
      </a>
    <% end %>
    <button type="submit" class="act-button">
      Salvar
    </button>
  </div>
<% end %>
