<nav>
  <%= button_to "Destroy this curso", @curso, method: :delete %>
  <%= render "form", curso: @curso %>
    <div>
        <h2>Minhas turmas</h2>
        <%= link_to "Adicionar turma", new_turma_path, remote: true %>
        <%= render @turmas %>
    </div>
    <div>
        <h2>Minhas disciplinas</h2>
        <h3>Semestre</h3>
        <div class="disciplinas-container">
            <%= render @disciplinas %>
        </div>
        <h3>Semestre</h3>
        <div class="disciplinas-container">
            <%= render @disciplinas %>
        </div>
    </div>
</nav>