<nav>
    <div class="deslizar-transition">
        <% if policy(@curso).index? %>
            <a href="/cursos" class="goback-button">
                <i class="fa-solid fa-arrow-left fa-sm"></i>
                Voltar para <strong>todos os cursos</strong>
            </a>
        <% end %>
        <h1>
            <%= @curso.nome_curso %>
            <% if policy(@curso).edit? %>
                <a href="/cursos/<%= @curso.id %>/editar" tooltip-text="Editar curso">
                    <i class="fa-solid fa-pen fa-sm icon-button"></i>
                </a>
            <% end %>
        </h1>
        <p>
            <a href="<%= usuario_path(@coordenacao) %>">
                <strong>Coordenação:</strong> <%= @coordenacao.nome_completo %>
            </a>
        </p>
        <p>
            <%= @curso.descricao %>
        </p>
        <div>
            <h2>Minhas turmas</h2>
            <% if policy(@curso).index_turmas? %>
                <%= link_to "Todas as turmas", turmas_path(@curso) %>
            <% end %>
            <div>
                <%= render @turmas %>
            </div>
        </div>
        <div>
            <h2>Minhas disciplinas</h2>
            <% if policy(@curso).index_disciplinas? %>
                <%= link_to "Todas as disciplinas", disciplinas_path(@curso) %>
            <% end %>
            <h3>Semestre</h3>
            <div class="disciplinas-container">
                <%= render @disciplinas %>
            </div>
        </div>
    </div>
</nav>