<nav>
    <div class="deslizar-transition">
        <h1>
            <%= @curso.nome_curso %>
            <% if policy(@curso).edit? %>
                <%= link_to "Editar", edit_curso_path(@curso) %>
            <% end %>
        </h1>
        <p>
            <%= @curso.descricao %>
        </p>
        <div>
            <h2>Minhas turmas</h2>
            <%= render @turmas %>
        </div>
        <div>
            <h2>Minhas disciplinas</h2>
            <h3>Semestre</h3>
            <div class="disciplinas-container">
                <%= render @disciplinas %>
            </div>
        </div>
    </div>
</nav>