<nav>
    <div class="deslizar-transition">
        <% if policy(@curso).index? %>
            <a href="/cursos" class="goback-button">
                <i class="fa-solid fa-arrow-left fa-sm"></i>
                Voltar para <strong>todos os cursos</strong>
            </a>
        <% end %>
        <h1>
            <%= @curso.nome_curso %>
            <% if policy(@curso).edit? %>
                <a href="/cursos/<%= @curso.id %>/editar" tooltip-text="Editar curso">
                    <i class="fa-solid fa-pen fa-sm icon-button"></i>
                </a>
            <% end %>
        </h1>
        <p>
            <a href="<%= usuario_path(@coordenacao) %>">
                <strong>Coordenação:</strong> <%= @coordenacao.nome_completo %>
            </a>
        </p>
        <p>
            <%= @curso.descricao %>
        </p>
        <div>
            <h2>Minhas turmas</h2>
            <% if @turmas.length > 0 %>
                <% if policy(@curso).index_turmas? %>
                    <%= link_to "Todas as turmas", turmas_path(@turmas) %>
                <% end %>
                <div>
                    <%= render @turmas %>
                </div>
            <% else %>
                <p>Não há nenhuma turma cadastrada neste curso.</p>
                <% if policy(@turmas).new? %>
                    <%= link_to "Adicionar turma", new_turma_path, remote: true %>
                <% end %>
            <% end %>
        </div>
        <div>
            <h2>Minhas disciplinas</h2>
            <% if @disciplinas.length > 0 %>
                <% if policy(@curso).index_disciplinas? %>
                    <%= link_to "Todas as disciplinas", disciplinas_path(@disciplinas) %>
                <% end %>
                <h3>Semestre</h3>
                <div class="disciplinas-container">
                    <%= render @disciplinas %>
                </div>
            <% else %>
                <p>Não há nenhuma disciplina cadastrada neste curso.</p>
                <% if policy(@disciplinas).new? %>
                    <%= link_to "Adicionar disciplina", new_disciplina_path, remote: true %>
                <% end %>
            <% end %>
        </div>
    </div>
</nav>