<div id="<%= dom_id comunicado %>">
  <p>
    <strong>Usuario:</strong>
    <%= comunicado.usuario_id %>
  </p>

  <p>
    <strong>Turma:</strong>
    <%= comunicado.turma_id %>
  </p>

  <p>
    <strong>Conteudo:</strong>
    <%= comunicado.conteudo %>
  </p>

  <p>
    <strong>Url img:</strong>
    <%= comunicado.url_img %>
  </p>

</div>
