<%= form_with(model: comunicado) do |form| %>
  <% if comunicado.errors.any? %>
    <div style="color: red">
      <ul>
        <% comunicado.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= form.label :turma_id, "Turma" %>
      <div class="select-box">
          <%= form.select :turma_id,
              options_for_select(@turmas.map{ |t| [
                  t.nome_turma, t.id, {
                      'turma-id' => t.id
                  }
              ]}, comunicado.turma_id)
          %>
      </div>
  </div>

  <div>
    <%= form.label :conteudo, style: "display: block" %>
    <%= form.text_area :conteudo %>
  </div>

  <div>
    <%= form.label :imagens, style: "display: block" %>
    <%= form.file_field :imagens, multiple: true %>
  </div>

  <div class="button-group">
    <a href="/comunicados">
      <button class="act-button">
        Cancelar
      </button>
    </a>
    <button type="submit" class="act-button">
      Publicar
    </button>
  </div>
<% end %>
