<%= javascript_include_tag 'trix' %>
<%= form_with(model: comunicado) do |form| %>
  <% if comunicado.errors.any? %>
    <div style="color: red">
      <ul>
        <% comunicado.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= form.label :visibilidade_comunicado, "Visibilidade" %>
      <div class="select-box">
          <%= form.select :visibilidade_comunicado,
              options_for_select(select_visibilidade(), comunicado.visibilidade_comunicado)
          %>
      </div>
  </div>

  <div class="form-group">
      <%= form.label :turma_id, "Turma" %>
      <div class="select-box">
          <%= form.select :turma_id,
              options_for_select(@turmas.map{ |t| [
                  t.nome_turma, t.id, {
                      'turma-id' => t.id
                  }
              ]}, comunicado.turma_id)
          %>
      </div>
  </div>

  <div class="form-group comunicado-form-body">
    <%= form.rich_text_area :corpo %>
  </div>

  <div class="button-group">
    <a href="/comunicados">
      <button class="cobra-button">
        Cancelar
      </button>
    </a>
    <button type="submit" class="cobra-button">
      Publicar
    </button>
  </div>
<% end %>
