<%= form_with(model: usuario) do |f| %>
    <div class="form_group">
        <%= f.label :nome_completo, 'Nome completo' %>
        <%= f.text_field :nome_completo %>
    </div>
    <div class="form_group">
        <%= f.label :email, 'Email institucional' %>
        <%= f.email_field :email %>
    </div>
    <div class="form_group">
        <%= f.label :telefone, 'Telefone' %>
        <%= f.text_field :telefone %>
    </div>

    <div class="button-group">
        <a href="/usuarios/<%= @usuario.id %>">
        <button class="act-button">
            Cancelar
        </button>
        </a>
        <button type="submit" class="act-button">
            Salvar
        </button>
    </div>
<% end %>