<%= form_with(model: @usuario) do |f| %>
    <div class="inicio-banner">
        <% if @usuario.avatar.attached? %>
            <div class="usuario-banner-photo photo-upload">
                <%= image_tag(@usuario.avatar) %>
                <%= f.file_field :avatar %>
            </div>
        <% else %>
            <div class="usuario-banner-icon photo-upload">
                <i class="fa-solid fa-camera fa-lg"></i>
                <%= f.file_field :avatar %>
            </div>
        <% end %>
    </div>
    <nav>
        <h1>Editar perfil</h1>
        <div class="form_group">
            <%= f.label :biografia, 'Biografia' %>
            <%= f.text_area :biografia, cols: 130, rows: 5 %>
        </div>
        <div class="form_group">
            <%= f.label :pronomes_usuario, "Pronomes" %>
            <%= f.select :pronomes_usuario,
                options_for_select(select_pronomes(), @usuario.pronomes_usuario)
            %>
        </div>
        <div class="form_group">
            <%= f.label :nome_completo, 'Nome completo' %>
            <%= f.text_field :nome_completo %>
        </div>
        <div class="form_group">
            <%= f.label :email, 'Email institucional' %>
            <%= f.email_field :email, disabled: 'true' %>
        </div>
        <div class="form_group">
            <%= f.label :telefone, 'Telefone' %>
            <%= f.text_field :telefone %>
        </div>
        <div class="form_group">
            <%= f.label :lattes_id, 'Lattes' %>
            <%= f.text_field :lattes_id %>
        </div>
        <div class="form_group">
            <%= f.label :orcid_id, 'Orcid' %>
            <%= f.text_field :orcid_id %>
        </div>

        <div class="button-group">
            <a href="/usuarios/<%= @usuario.id %>">
            <button class="act-button">
                Cancelar
            </button>
            </a>
            <button type="submit" class="act-button">
                Salvar
            </button>
        </div>
    </nav>
<% end %>
