<!DOCTYPE html>
<html>
  <head>
    <title>Cobracoral</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "disciplina", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pages", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="header-logo">
          <%= show_svg('cobracoral-logo.svg') %>
          <a href="/"><h1>Cobracoral</h1></a>
      </div>
      <ul>
          <li>
              <a href="/comunicados"><button class="act-button">Comunicados</button></a>
          </li>
          <li>
              <a href="/curso"><button class="act-button">Curso</button></a>
          </li>
          <li>
              <a href="/ide"><button class="act-button">IDE</button></a>
          </li>
          <li>
              <a href="/tarefas"><button class="act-button">Tarefas</button></a>
          </li>
          <li>
              <a href="/mensagens"><button class="act-button">Mensagens</button></a>
          </li>
          <li>
              <a href="/perfil"><button class="act-button">Perfil</button></a>
          </li>
          <li>
              <a href="/sair"><button class="act-button">Sair</button></a>
          </li>
      </ul>
    </header>
    <%= yield %>
    <footer>
        <div>
            <a href="/sobre"><button class="act-button">Sobre</button></a>
            <a href="/sobre#experimentar"><button class="act-button">Experimentar</button></a>
            <a href="/instalar"><button class="act-button">Instalar</button></a>
            <a href="/aprender"><button class="act-button">Aprender</button></a>
            <a href="/sobre#publicar"><button class="act-button">Publicar</button></a>
        </div>
        <span>
            Ewerton Bramos - 2024
        </span>
    </footer>
  </body>
</html>
