<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Cobracoral</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "curso", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pages", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/597fea8ed7.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
    <script type="text/javascript">
        function abrirBarraLateral() {
            let barra = document.getElementById('barra-lateral');
            if (barra.style.visibility == 'visible') {
                barra.style.visibility = 'hidden';
                barra.style.opacity = '0%';
            } else {
                barra.style.visibility = 'visible';
                barra.style.opacity = '100%';
            }
        }
    </script>
  </head>

  <body>
    <header id="cobracoral-header">
      <button class="icon-button" onclick="abrirBarraLateral()">
        <i class="fa-solid fa-bars fa-2xl"></i>
      </button>
      <div class="header-logo">
        <div class="header-logo-svg">
            <%= show_svg('cobracoral-logo.svg') %>
        </div>
        <div class="header-logo-info">
            <a href="/"><h1><%= current_curso(@usuario_autenticado).nome_curso %></h1></a>
            <span><%= ENV["COBRACORAL_VERSION"] %></span>
        </div>
      </div>
      <ul>
          <li>
              <a href="/comunicados" title="Comunicados">
                <button class="icon-button">
                    <i class="fa-solid fa-bell fa-2xl"></i>
                </button>
              </a>
          </li>
          <li>
              <a href="/cursos" title="Cursos">
                <button class="act-button">
                    <i class="fa-solid fa-book-open fa-2xl"></i>
                </button>
              </a>
          </li>
          <!--li>
              <a href="/ide" title="Ambiente integrado de desenvolvimento">
                <button class="act-button">
                    <i class="fa-solid fa-code fa-2xl"></i>
                </button>
              </a>
          </li-->
          <li>
              <a href="/tarefas" title="Tarefas">
                <button class="act-button">
                    <i class="fa-solid fa-list-check fa-2xl"></i>
                </button>
              </a>
          </li>
          <li>
              <a href="/mensagens" title="Mensagens">
                <button class="act-button">
                    <i class="fa-solid fa-comment fa-2xl"></i>
                </button>
              </a>
          </li>
          <li>
            <button class="act-button abrir-menu">
                <i class="fa-solid fa-user fa-2xl"></i>
                <div id="menu-perfil">
                    <div class="medidor-container">
                        <div class="medidor-grafico">
                            <div class="medidor-grafico-max"></div>
                            <div class="medidor-grafico-atual"></div>
                            <span class="medidor-grafico-valor">15m</span>
                        </div>
                        <h3>Pomodoro</h3>
                    </div>
                    <h5 class="menu-perfil-usuario-cargo">
                        <%= cargo_usuario(@usuario_autenticado) %>
                    </h5>
                    <ul>
                        <li>
                            <a href="/usuarios/:id/caixa">
                                <i class="fa-solid fa-envelope fa-xl"></i>
                                <span>Abrir caixa de entrada</span>
                            </a>
                        </li>
                        <li>
                            <a href="/perfil">
                                <i class="fa-solid fa-smile fa-xl"></i>
                                <span>Editar perfil</span>
                            </a>
                        </li>
                        <li>
                            <a href="/perfil">
                                <i class="fa-solid fa-gear fa-xl"></i>
                                <span>Preferências</span>
                            </a>
                        </li>
                        <li>
                            <a href="/sair" data-turbo-prefetch="false">
                                <i class="fa-solid fa-door-open fa-xl"></i>
                                <span>Sair</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </button>
          </li>
      </ul>
    </header>
    <div id="barra-lateral" style="visibility: hidden; opacity: 0%;" onclick="abrirBarraLateral()">
        <%
		    @matricula_estudante = Matricula.find_by(usuario_id: @usuario_autenticado.id)
        %>
        <h2>
            <a href="/turmas/<%= turma_estudante(@usuario_autenticado, @matricula_estudante).id %>">
                <%= turma_estudante(@usuario_autenticado, @matricula_estudante).nome_turma %>
            </a>
        </h2>
        <span>
            Semestre <%= @matricula_estudante.semestre %>
        </span>
        <ul>
            <% disciplinas_turma(@usuario_autenticado, @matricula_estudante).each do |disciplina| %>
                <li>
                    <a href="/disciplinas/<%= disciplina.id %>">
                        <h3><%= disciplina.nome_disciplina %></h3>
                        <ol>
                            <% unidades_disciplina(disciplina).each do |unidade| %>
                                <a href="/disciplinas/<%= disciplina.id %>#<%= unidade.id %>">
                                    <li>
                                        <h4><%= unidade.nome_unidade %></h4>
                                    </li>
                                </a>
                            <% end %>
                        </ol>
                    </a>
                </li>
            <% end %>
        </ul>
    </div>
    <%= yield %>
    <footer>
        <div>
            <a href="/sobre"><button class="act-button">Sobre</button></a>
            <a href="/sobre#experimentar"><button class="act-button">Experimentar</button></a>
            <a href="/instalar"><button class="act-button">Instalar</button></a>
            <a href="/aprender"><button class="act-button">Aprender</button></a>
            <a href="/sobre#publicar"><button class="act-button">Publicar</button></a>
        </div>
        <span>
            <%= ENV["COBRACORAL_AUTHOR"] %> - <%= ENV["COBRACORAL_YEAR"] %>
        </span>
    </footer>
  </body>
</html>
