<!DOCTYPE html>
<html>
  <head>
    <title>Cobracoral</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pages", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <div class="header-logo">
          <%= show_svg('cobracoral-logo.svg') %>
          <a href="/"><h1>Cobracoral</h1></a>
      </div>
      <ul>
          <li>
              <a href="/"><button class="act-button">Início</button></a>
          </li>
          <li>
              <a href="#sobre"><button class="act-button">Sobre</button></a>
          </li>
          <li>
              <a href="#experimentar"><button class="act-button">Experimentar</button></a>
          </li>
          <li>
              <a href="#download"><button class="act-button">Download</button></a>
          </li>
          <li>
              <a href="/aprender"><button class="act-button">Aprender</button></a>
          </li>
          <li>
              <a href="#publicar"><button class="act-button">Publicar</button></a>
          </li>
      </ul>
    </header>
    <%= yield %>
    <footer>
        Ewerton Bramos - 2024
    </footer>
  </body>
</html>
