<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Cobracoral</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_link_tag "themes/theme-default", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "curso", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pages", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/597fea8ed7.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
    <script type="text/javascript">
        function abrirBarraLateral() {
            let barra = document.getElementById('barra-lateral');
            if (barra.style.visibility == 'visible') {
                barra.style.visibility = 'hidden';
                barra.style.opacity = '0%';
            } else {
                barra.style.visibility = 'visible';
                barra.style.opacity = '100%';
            }
        }
    </script>
  </head>
  <body>
    <%= render BarraPrincipalComponent.new(usuario_autenticado: @usuario_autenticado) %>
    <%= render BarraLateralNavegacaoComponent.new(usuario_autenticado: @usuario_autenticado) %>
    <%= render NotificacaoComponent.new(mensagem: notice) %>
    <%= yield %>
    <%= render RodapeComponent.new() %>
  </body>
</html>
